.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &-logo {
    display: flex;
    align-items: center;

    &-image {
      max-width: 100%;
      width: 200px;
    }
  }

  &-items {
    display: flex;
    align-items: center;
    gap: 20px; // Ajoute un espace de 20px entre chaque élément
  }
  
  &-item {
    display: flex;
    align-items: center;
    color: #2c3e50;
    text-decoration: none;
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }

    i {
      margin-right: 8px;
    }
  }
}
